@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --bg-color: #f3f4f6;
  --text-color: #1f2937;
  --nav-bg: #ffffff;
  --nav-link: #4f46e5;
  --border-color: #ddd;
  --toggle-bg: #e5e7eb; /* Light gray for light mode */
  --toggle-border: #4f46e5; /* Distinct border for light mode */
  --toggle-dark-bg: #4f46e5; /* Highlight color for dark mode */
  --toggle-dark-border: #f59e0b; /* Match border with slightly darker sun color in dark mode */
  --moon-color: #4f46e5; /* Dark blue moon icon */
  --sun-color: #facc15; /* Bright yellow sun icon */
  --darker-sun-color: #FFFFFF; /* Slightly darker yellow for sun icon */
}

.dark {
  --bg-color: #1f2937;
  --text-color: #f3f4f6;
  --nav-bg: #111827;
  --nav-link: #ffffff;
  --border-color: #333;
  --toggle-bg: #4b5563; /* Dark gray for dark mode */
  --toggle-border: #94a3b8; /* Softer gray border for dark mode */
  --toggle-dark-bg: #e8dcc4; /* Highlight color for light mode */
  --toggle-dark-border: #ffa200; /* Slightly darker sun color for border */
  --moon-color: #94a3b8; /* Soft gray moon icon */
  --sun-color: #ffa200; /* Bright yellow sun icon */
  --darker-sun-color: #ffa200; /* Slightly darker yellow for sun icon */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; /* Semi-bold for headings */
  margin: 0;
}

p, a, span, li {
  font-weight: 400; /* Regular for general text */
  margin: 0;
}
